@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');
*{
    padding:0;
    margin: 0;
   
}
/* ---------------------------------------------------main(index)------------------ */
.main_maincontainer{
    margin: .5rem;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "nav main_s1"
    "nav main_s2"
    "nav main_foo";
    font-family: "Liter", serif;

}
.main_maincontainer .main_mainnav{
    grid-area: nav;
    background-color: rgb(227, 236, 233);
    
}
.main_mainliks{
    display: flex;
    flex-direction: column;
    
}

.main_mainliks #logomain{
    width: 100%;
}
.main_maincontainer .main_s1{
    margin: .5rem;
    grid-area: main_s1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "box1"
    "box2";
    font-family: "Liter", serif;
    text-align: center;
    
}
.listbox1{
    list-style: none;
}
.listbox1 .subsect1{
    grid-area: box1;
    display: flex;
    justify-content: center;
    align-items: center;


}

.listbox1 .subsect1 a{
    margin: 10%;
    text-decoration: none;
    color: black;
    font-size: 5rem;
    background-color:#93e4c1 ;
    padding: 1.125rem;
    transition: .4s;

}
.listbox1 .subsect1 a:hover{
    background-color:#004445;
    color:#fff;
}

.listbox1 .subsect2{
    grid-area: box2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listbox1 .subsect2 a{
    margin: 10%;
    text-decoration: none;
    color: black;
    font-size: 5rem;
    background-color: #8594e4;
    padding: 1.125rem;
    transition: .4s;
}
.listbox1 .subsect2 a:hover{
    background-color: #430f58;
    color: #fff;

}


/* -------------------------------------- Om JavaScript------------------------------------- */

.hoved_containeromjs{
    margin: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav"
    "main main"
    "main main"
    "footer footer";
    font-family: "Liter", serif;
    font-style: normal;
    background-color: black;
    
}

.hoved_containeromjs .header_omjs{
    grid-area: nav;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo navi ham";
    margin: 2.5rem;  
    align-items: center;
}
.header_omjs .logo1{
    grid-area:logo ;
    display: flex;
    justify-content: center;
    width: 50%;
} 
.header_omjs #ham1{
    grid-area:ham ;
    display: flex;
    justify-content: center;
} 

.links_nav_omjs{
    grid-area: navi;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 2.3rem;


}
.links_nav_omjs li{
    padding: 1.5rem;
    transition: 0.2s;
    margin:0 .5rem 0 .5rem;
    
}
.links_nav_omjs li:hover{
    background-color: #E2E0C8;
    box-shadow: .3rem .4rem grey; 
}

.links_nav_omjs li a{
    text-decoration: none;
    color: #ffff;
}
.links_nav_omjs li a:hover{
    color:black;
}


.omJS .over1{
    margin:.5rem 10% 2.5rem 10%;
    text-align: center;
}
.omJS .js1{
    margin: .5rem 12% 1.5rem 12%;
}

.info_omjs{
    grid-area: main;
    margin: 0 10% 0 10%;
    background-color: rgb(188, 188, 218);
}

