
.i1{
    font-size: 2.125rem;
    color:blue;
    font-style: italic;
}
.i2{

    font-size: 1.2rem;
    color:darkgreen;
    font-family: Arial, sans-serif;
}
.i3{
    font-size: 3.45rem;
    color: chocolate;
    font-weight: 600;
}


















































/* #i1{
    font-size: 2.25rem;
    color:rgb(197, 30, 30);
}

#i2{
    font-size: 1.7rem;
    color:rgb(151, 210, 41);
}
#i3{
    font-size: 3.8rem;
    color:rgb(52, 11, 199);
} */