
html{
    padding: 0;
    margin: 0;
    font-family: "Google Sans Flex", sans-serif;
    box-sizing: border-box;
    
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav"
    "main main"
    "Footer footer";
    margin: 1.5rem;
}
.nav_cont{
    grid-area: nav;
    display: flex;
    justify-content: center;
    padding-bottom: 4.5rem;
    
}
.nav_cont .nav_lenker{
    display: flex;
    list-style: none;
}
.nav_cont li{
    padding: 1.25rem;
    border: 1px #ffff solid;
}

.nav_lenker a{

    text-decoration: none;
    color: black;
    padding: .75rem;
    font-size: 1.2rem;
}
.nav_cont li:hover{
    border: 1px rosybrown solid;

}
.main_cont{
    grid-area: main;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "google fonta"
    "media ressurser";

}
.main_cont #google{
    grid-area: google;
    display: flex;
    justify-content: center;
}

#google .description1{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 30% 0 30%; 
   
}
#google .description1 p{
    margin: 0 1.4rem 0 1.4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 1.2rem;
}
#google .description1 iframe{
    margin:0 .75rem 0 .75rem
}


.main_cont #FontAwesome{
    grid-area: fonta;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}

#FontAwesome .description2{

    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 30% 0 30%; 
}

#FontAwesome .description2 iframe{
     margin:0 .75rem 0 .75rem
}
#FontAwesome .description2 p{
    margin: 0 1.4rem 0 1.4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 1.2rem;
}
.main_cont #media{
    grid-area: media;
 
    background-color: aquamarine;

}
.figma{
    text-align: center;
    margin: 0 10% 0 10%;

    /* display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 0 30% 0 30%;  */


}
.figma p{
    margin: 0 1.4rem 0 1.4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 1.2rem;

}


.main_cont #ress{
    grid-area:ressurser;
    padding-top: 2.5rem;

   
}
#ress p{
    margin: 0 1.4rem 0 1.4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 1.2rem;
}