*{
    padding: 0;
    margin: 0;
}

.Main_container{
    margin: 0.2rem;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav"
    "tab main"
    "tab main"
    "footer footer";
    

}

.main_nav{
    display: flex;
    justify-content: center;
    grid-area: nav;
    background-color: rgba(200,200, 200, 0.4);
    padding: ;

}
.main_nav .list_nav{
    display: flex;
    list-style: none;
}


