body.light-mode {
    --text-primary-menu:#0f0f0f;
    --text-primary:#222121;
    --nav-colorBackground: rgba(242, 243, 247, 0.721);
    --beside-menu-colorBackground: #f4f5f8;
    --main-colorBackground: #992db1;
    --bg-section:#ffff;
    --border-beside-menu:#000;
    --textcolor-backToMain:#000;
    --color-backgroundH3: rgba(175, 175, 27, 0.467);

    
    
}


:root{
    --color-backgroundH3: rgba(91, 129, 226, 0.467);
    --text-primary-menu:#0000; 
    --text-primary: #ffff;
    --nav-colorBackground:rgba(220, 158, 219, 0.7);
    --main-colorBackground: #992db1;
    --beside-menu-colorBackground: #4f4fb3;
    --text-besidemenu:#ffff;
    --bg-section: #4949a7;
    --border-beside-menu: #ffff;
    --size-text-section:1.125rem;
    --textcolor-backToMain:#000;

}
*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html{
    background-color: var(--main-colorBackground);

}
.Main_container{
    margin: 0.2rem;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav nav"
    "tab main"
    "tab main"
    "footer footer";    

}
article p{
    padding: 1rem 0;
}
article h2{
    padding: .5rem .7rem;

}
.type_nettverk h3{
    background-color:var(--color-backgroundH3);
}
.pic_nettverk{
    display: flex;
    justify-content: center;

}
.pic_nettverk img{
    width: 25rem;
    border: 2px solid #000;
}
.pic_wifi_nettverk{
    display: flex;
    justify-content: center;
}
.pic_wifi_nettverk img{
    width: 25rem;
    border:2px solid #000; ;
}
.pic_brannmur{
    display: flex;
    justify-content:space-around;
}
.pic_brannmur #pic1_mur, .pic_brannmur iframe{
    padding: .5rem;
} 
.pic_brannmur #pic1_mur{
    width: 40%;
}
.pic_brannmur iframe{
    width:45rem ;
}
.list_ipAdress{
    list-style: none;
}

.list_ipAdress h3{
    background-color:var(--color-backgroundH3);

}


.main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: nav;
    background-color: var(--nav-colorBackground);
    padding:1.125rem ;
    z-index: 99;
    position:sticky;
    top:0.2rem;
}
.main_nav img{
    width: 18rem;
    
    transition: ease-out .4s;
    color: var(--main-colorBackground);
}
.main_nav img:hover{
    box-shadow: 2px 3px;

}
.list_nav{
    align-items: center;
}
.list_nav li{
    padding: 0 1rem;
}
.list_nav button{
    font-size: 1.25rem;
}

.main_nav li span{
    font-size: 1.25rem;
}
.main_nav a{
    text-decoration: none;
    color: var(--textcolor-backToMain);

}
.main_nav .list_nav{
    display: flex;
    list-style: none;
}
#nettverk .type_nettverk{
    list-style: none;
}

.main_nav #toggle, .main_nav #backMain{
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentColor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: var(--size-text-section);
    font-weight: 500;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: .2rem 1.15rem;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow .7s cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
    height: 48px;
    font-weight: 600;


}
.main_nav #backMain a:hover{
    color:#4285f4;


}
.main_nav #toggle:hover {
  background: #1056ce;
  color: #f5f6f8;
  
}
.main_nav #toggle:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.main_nav #toggle:focus{
    outline: none;
    border: 2px solid #4285f4;
    
}
.main_nav #toggle:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.main_nav #toggle:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}
.main_nav #toggle:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.main_nav #toggle:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}
.main_nav #toggle:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.beside_nav{
    grid-area: tab;
    color: var(--text-primary);
    background-color: var(--main-colorBackground);
    /* margin:2.5rem; */
    margin: 2.5rem 0 0 30%;
}
.beside_nav .list1{
    
    list-style: none;
    background-color:var(--beside-menu-colorBackground) ;
    text-align: center;
    margin-top:1rem ;
    position: sticky;
    top: 12.5rem;
    border: solid 2px var(--border-beside-menu);
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;

}
.beside_nav .list1:active, .beside_nav .list1:hover{
    outline: 0;

}


.beside_nav .list1 a:hover{
    background: none;
}


.beside_nav .list1 li{
    padding: 1.25rem 0 1.25rem 0;
    background-color: rgb(19, 21, 111);
    padding: .5rem .9rem;
    margin: .5rem; 
    border-radius: 6px;
    transition: 300ms;
    
}
.beside_nav .list1 li:hover{
    background-color: #ffff;
   a{
    color: #000;
    font-weight: 600;
   }

}

.beside_nav .list1 li a{
    
    color: var(--text-besidemenu);
    text-decoration: none;
}
.textspeech1{
    padding: 0.5rem;
}

.mainSite{
    grid-area: main;
    background-color: var(--main-colorBackground);
    margin: 2.5rem 3.25rem ;
}
.mainSite section{
    background-color: var(--bg-section);
    color:var(--text-primary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: var(--size-text-section);
    margin: 1rem 10.25rem 2rem 7.25rem;
    padding: 1rem;
    border: 2px solid var(--border-beside-menu);
    border-radius: 8px;

}
.mainSite section h2{
    padding-bottom:1rem;
}
.media_nettverk{
    display: flex;
    justify-content: center;
}
#pic1_nettverk{
    width: 35rem;
    border: solid 2px black;
}
#info .img_info{
    display: flex;
    justify-content:space-around;
    margin-top: 1rem;

}
#info .img_info #pic1{
    width: 15rem;
    border: 2px solid black;
}
#info .img_info #pic2{
    width: 25rem;
    border: 2px solid black;

}
.video-ip{
    display: flex;
    justify-content: center;
    
}